@charset "UTF-8";

  .body {
        margin: 0 auto;
        text-shadow: 0.5px 0.5px gray;
        width: 1280px;
        
    }
    .jj{
    	margin-top:17px;
    	
    }
	a:hover{
		color: black;
		text-decoration:none;
	}
    .main_top {
        width: 100%;
        height: 23%;
        font-family: 'Nanum Gothic', sans-serif;
        position: relative;

    }
    .top_logo {
        width: 16%;
        float: left;
        margin-top: -3%;
        position: absolute;
        margin-left: 42%;

    }

    .logo1 {
        width: 100%;
        height: 100%;
    }


    .top_tap {
        width: 100%;
        float: left;
        margin-top: 4.4%;




    }

    .top_tap2 {

        width: 42%;
        float: left;
        margin-top: 4.4%;



    }

    .top_ul1 {

        list-style: none;


    }

    .top_li1 {

        display: block;
        float: left;
        width: 170px;
        height: 85px;
        margin-left: 40px;
        line-height: 85px;
        text-align: center;
        font-weight: bold;
        


    }

    .top_a1 {
        display: inline-block;
        text-decoration: none;
        font-size: 22px;
        color: black;
        text-shadow: 10px 10px 10px 10px gray;
    }

    .top_ul2 {

        list-style: none;
        padding: 0;
        position: absolute;
        visibility: hidden;
        text-align: center;
        box-sizing: border-box;
        line-height: 50px;
        left: 3%;
    }



    .top_ul3 {
        list-style: none;
        padding: 0;
        position: absolute;
        visibility: hidden;
        text-align: center;
        box-sizing: border-box;
        line-height: 50px;
        right: 5%;
    }

    .top_li2 {
        width: 210px;
        float: left;

    }

    .top_li4 {
        margin-left: 25px;
    }



    .top_li2>a {
        text-decoration: none;
        display: block;
        color: white;
        font-size: 22px;

    }

    .top_li1:hover>.top_ul2>li {
        visibility: visible;


    }

    .top_li1:hover>.top_ul3>li {
        visibility: visible;


    }

    .top_footer {
        margin-top: 12.5%;
        width: 100%;
        height: 50px;
        background-color: #D9D4CF;
        border-bottom: 0.1px solid gray;

    }

    .top_a2 {
        font-size: 27px;

    }

    .top_login {

        margin-left: 88%;
        width: 140px;

    }

    .top_login>a {
        font-size: 20px;
        color: #7C7877;
        margin-right: 10px;
    }
     .top_tap {
        position: relative;
    }

    .top_tap2 {
        position: relative;
    }

    .top_li3 {
        margin-right: 25%;
    }