@charset "UTF-8";
  .carousel-inner>.carousel-item>img {
   width: 290px;
   height: 300px;
   margin: 0 auto;
   margin-left: 2px;
   margin-right: 2px;
}

.carousel-inner {
   width: 900px;
   margin: 0 auto;
}


.font {
   font-family: 'Jua', sans-serif;
}

.f-black {
   font-size: 20px;
   color: black;
}
.main_body {
   margin: 0 auto;
   text-shadow: 0.5px 0.5px gray;
   width: 1280px;
}

.jj {
   margin-top: 17px;
}

.header_top_a1:hover {
   color: #4a2100;
   text-decoration: none;
}

.header_top {
   
   width: 100%;
   height: 185px;
   font-family: 'Jua', sans-serif;
   position: relative;
}

.main_content {
   width: 100%;
   height: 62%;
   border-left: 0.1px solid gray;
   border-right: 0.1px solid gray;
}

.header_top_logo {
   width: 16%;
   height: 100%;
   float: left;
   margin-top: 0%;
   position: absolute;
   margin-left: 42%;
}

.header_top_logo1 {
   width: 100%;
   height: 100%;
}

.header_top_tap {
   width: 100%;
   float: left;
   margin-top: 6.4%;
}

.header_top_tap2 {
   width: 42%;
   float: left;
   margin-top: 4.4%;
}

.header_top_ul1 {
   list-style: none;
}

.header_top_li1 {
   display: block;
   float: left;
   width: 170px;
   height: 85px;
   margin-left: 40px;
   line-height: 85px;
   text-align: center;
}

.header_top_a1 {
   display: inline-block;
   text-decoration: none;
   font-size: 22px;
   color: black;
   text-shadow: 10px 10px 10px 10px gray;
}
.header_top_ul2 {
   list-style: none;
   padding: 0;
   position: absolute;
   visibility: hidden;
   text-align: center;
   box-sizing: border-box;
   line-height: 50px;
   left: 3%;
}

.header_top_ul3 {
   list-style: none;
   padding: 0;
   position: absolute;
   visibility: hidden;
   text-align: center;
   box-sizing: border-box;
   line-height: 50px;
   right: 5%;
}

.header_top_li2 {
   width: 210px;
   float: left;
}

.header_top_li4 {
   margin-left: 25px;
}

.header_top_li2>a {
   text-decoration: none;
   display: block;
   color: white;
   font-size: 22px;
}

.header_top_li1:hover>.header_top_ul2>li {
   visibility: visible;
}

.header_top_li1:hover>.header_top_ul3>li {
   visibility: visible;
}
.header_top_login_li{
   list-style: none;
}
.header_top_bottom {
   margin-top: -50px;
   width: 100%;
   height: 50px;
   
   border-bottom: 0.1px solid gray;
}

.header_top_a2 {
   font-size: 27px;
}

.header_top_login {
   margin-top:20px;
   margin-left: 1050px;
    position: absolute;
   
}

.header_top_login>a {
   font-size: 20px;
   color: #7C7877;
   margin-right: 10px;
}

.header_top_tap {
   position: relative;
}

.header_top_tap2 {
   position: relative;
}

.header_top_li3 {
   margin-right: 25%;
}
.header_top_logo2{
   height:100%;
   
}