@charset "UTF-8";

 .wrapped {
        width: 1280px;
        margin: 0 auto;
        overflow: hidden;
    }

    .fnt1 {
        font-family: 'Do Hyeon', sans-serif;
    }

    .fnt2 {
        font-family: 'Gothic A1', sans-serif;
    }

    .title_notice {
        height: 100px;
        padding-top: 40px;
    }

    .title_notice>h2 {
        text-align: center;
        margin-left: 230px;
    }

    .sideTap_a1 {
        border-bottom: 0.1px solid #D9D4CF;
        margin: 50px;
        text-align: center;
    }

    .sideTap_a1>a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: black;
        display: block;
    }

    #sideTap {
        width: 20%;
        float: left;
    }

    #table {
        margin-left: 6%;
        width: 70%;
        float: left;
    }

    .notice_title {
        color: black;
    }

    .table_no {
        text-align: center;
        width: 10%;
    }

    .table_title {
        width: 60%;
        text-align: center;
    }

    .table_writer {
        text-align: center;
        width: 15%;
    }

    .table_date {
        width: 20%;
    }

    .table_button {
        margin-bottom: 10px;
        overflow: hidden;
    }

    .table_button>.button_side {
        width: 33%;
        height: 38px;
        display: block;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .select_option {
        width: 110px;
        float: left;
    }

    .search_notice {
        width: 130px;
    }

    .pageNavi {
       text-align: center;

    }

    .button_side {
        width: 400px;
        margin-bottom: 5px;
    }

    .select_option {
        height: 30px;
        box-sizing: border-box;
    }

    .notice_search {
        height: 30px;
        box-sizing: border-box;
    }

    .notice_search {
        margin: 0;
        width: 60px;
        height: 30px;
        line-height: 15px;
        border: none;
    }

    .form_div>form>* {
        float: left;
    }

    .write {
        height: 30px;
        box-sizing: border-box;
        width: 80px;
        line-height: 15px;
    }

    .form_div {
        margin-left: 330px;
    }
    
    .color-red{
        color:red;
    }
    .alng{
	display:inline-block;
	width:560px;
}