@charset "UTF-8";

.active {
	background-color: #ffac05;
	border-radius: 20px;
}

.navbar-sidebar .navbar__list li.active>a {
	color: white;
	font-weight: bold;
}
.navbar-sidebar .navbar__list li.active>a:hover {
	color: white;
	font-weight: bold;
}



.navbar-sidebar .navbar__list li a:hover {
	color:#ffac05;
}

.navbar-sidebar>ul>li {
	padding-left: 20px;
}