<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="#">
    <table>
        <tr>
            <th>판매 지역 선택</th>
            <td>
                <select>
                    <option value="전체보기">전체보기</option>
                                    <option value="서울/경기">서울/경기</option>
                                    <option value="인천/부천">인천/부천</option>
                                    <option value="춘천/강원">춘천/강원</option>
                                    <option value="부산/울산/경남">부산/울산/경남</option>
                                    <option value="대구/경북">대구/경북</option>
                                    <option value="전주/전북">전주/전북</option>
                                    <option value="광주/전남">광주/전남</option>
                                    <option value="청주/충북">청주/충북</option>
                                    <option value="청주/충북">청주/충북</option>
                                    <option value="대전/충남">대전/충남</option>
                                    <option value="제주">제주</option>
                </select>
                <select>
                <option value="">구 끌어오기</option>
                </select>
                <select>
                    <option value="">동네 끌어오기</option>
                </select>
                <div>여기다 주소지 , 넣고 받아주기</div>
            </td>
        </tr>
        <tr>
            <th>판매자 지역</th>
            <td><input type="text"> API</td>
        </tr>
        <tr>
            <th>배송비 선택</th>
            <td>
                <input type="radio" name ="deliveryFee" value="">무료배송
                <input type="radio" name ="deliveryFee" value="2500">2500원
                <input type="radio" name ="deliveryFee" value="3000">3000원
                <input type="radio" name ="deliveryFee" value="etc">직접입력
                <input type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>상품 대분류</th>
            <td> 
                <select>
                    <option value="농산물">농산물</option>
                    <option value="수산물">수산물</option>
                </select>
                <select>
                    <option value="채소"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>상품 소분류</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>상품명</th>
            <td><input type="text"></td>
        </tr>
        
        <tr>
            <th>가격</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>배송비 선택</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>판매 수량 설정</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>제조원(원산지)</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>유통기한</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>원재료명 및 함량</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>보관상 주의사항</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>대표 이미지 등록</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>물품 사진 등록</th>
            <td><input type="text"></td>
        </tr>
        
        <tr>
            <th>판매 종료일 설정</th>
            <td><input type="text"></td>
        </tr>
    </table>
    </form>
</body>
</html>