-
 @charset "UTF-8";


.main_body {
   margin: 0 auto;
   text-shadow: 0.5px 0.5px gray;
   width: 1280px;
}
.body{
   font-family: 'Jua', sans-serif;
}

.main_footer {
   position: relative;
   background-color: #A2A367;
   width: 100%;
   height: 180px;
   font-family: 'Jua', sans-serif;
}



.footer_content1 {
   width: 50%;
   height: 80%;
   margin-top: 1%;
   margin-left: 25%;
   float: left;
   text-align: center;

}

.footer_select {

	width: 200px;
	margin-top: 1%;
	height: 30px;
	position: absolute;

}

.footer_a1 {
   text-shadow: 2px 2px gray;
   font-size: 30px;

}